<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path, class: "button", data: {turbo_frame: "new_post"} %>

<%= turbo_frame_tag 'new_post' do %>
<% end %>

<div id="post-notice"></div>

<%= paginate @posts, views_prefix: :posts %>

<%= form_with url: "/posts", method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.submit "Search" %>
<% end %>

<%= turbo_stream_from "posts_list" %>

<div id="posts">
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>body</th>
        <th>created_at</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody id="posts_result">
  <% @posts.each do |post| %>
    <%= turbo_frame_tag "edit_post_#{post.id}" do %>
      <%= render "posts/post_row", post: post %>
    <% end %>
  <% end %>
    </tbody>
  </table>
</div>

