<% content_for :title do %>
  <%= "#{@post.title} - Geeky" %>
<% end %>

<% content_for :meta do %>
  <%= render "layouts/partials/meta", meta: @meta %>
<% end %>

<%= I18n.t "post.title" %>

<p style="color: green"><%= notice %></p>

<%# Fragment caching %>
<% cache @post do %>
  <%= render @post %>
<% end %>

 <%# cache_if admin?, @post do %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
